In [1]:
print("Hello world")

Hello world

## Rules before declaring a variable
<ol>
<li>A variable name cannot start with a number </li>
<li>A variable name cannot start with a special character</li>
<li>Space cannot be used while declaring a variable name</li>
<li>Reserved keywords cannot be used as variable name</li>
<li>Python is a case sensitive language</li>
</ol>

In [3]:
x = 10

In [4]:
1x = 10

SyntaxError: invalid decimal literal (<ipython-input-4-d6bc7cef26a6>, line 1)

In [5]:
x1 = 10

#### Error: 2 (variable declaration)

In [7]:
@x = 10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-7-f489e162a5a8>, line 1)

In [8]:
#x = 3

In [9]:
%x = 10

UsageError: Line magic function `%x` not found.

In [10]:
$x = 10

SyntaxError: invalid syntax (<ipython-input-10-fee464756807>, line 1)

In [11]:
&x = 10

SyntaxError: invalid syntax (<ipython-input-11-53f3d35f469d>, line 1)

In [12]:
x% = 10

SyntaxError: invalid syntax (<ipython-input-12-0e5820d855a3>, line 1)

In [14]:
x# = 20

10

In [15]:
x@ = 20

SyntaxError: invalid syntax (<ipython-input-15-382ced12cc93>, line 1)

In [16]:
_x = 10

In [17]:
_x

10

In [18]:
x

10

#### Error 3: (variable declaration)

In [20]:
first x = 10

SyntaxError: invalid syntax (<ipython-input-20-7edf5ee2eb3d>, line 1)

In [21]:
first_x = 10

In [22]:
#snakeCase
percentageOfstudent = 10

In [23]:
percentageOfstudent

10

In [24]:
# Pascalcase
Percentageofstudent = 10

In [25]:
Percentageofstudent

10

In [26]:
# camel case
PercentageOfStudent = 50

In [27]:
PercentageOfStudent

50

#### Error 4: (variable declaration)

In [29]:
print = 10

In [31]:
print(print)

TypeError: 'int' object is not callable

In [32]:
for = 10

SyntaxError: invalid syntax (<ipython-input-32-597287a2d762>, line 1)

In [33]:
class = 10

SyntaxError: invalid syntax (<ipython-input-33-0fe4cedaeb70>, line 1)

In [34]:
int = 10

In [35]:
print(int)

TypeError: 'int' object is not callable

### primitive -> one variable one datatype
### non-primitive -> one variable multiple datatype

# Primitve
<ol>
List of datatypes in primitve:
<li>int -> normal number -infinite to +infinite</li>
<li>float -> decimal 10.05, 11.50 </li>
<li>string -> "Hriday" </li>
<li>boolean -> True or False value</li>
</ol>

In [38]:
# int
x = 10

In [40]:
x

10

In [41]:
# overwriting
x = 20

In [42]:
x

20

In [43]:
x = 20.05

In [44]:
x

20.05

In [45]:
type(x)

float

In [46]:
x = 10

In [47]:
type(x)

int

In [48]:
string = "Hriday"

In [50]:
string[0]

'H'

In [51]:
string[1]

'r'

In [52]:
len(string)

6

In [53]:
len(x)

TypeError: object of type 'int' has no len()

In [55]:
string[::-1]

'yadirH'

In [56]:
boolean = True

In [57]:
boolean

True

In [59]:
(10>9) == boolean

True

In [60]:
# Typecasting

In [61]:
x = 0

In [62]:
type(x)

int

In [64]:
x = float(x)

In [66]:
type(x)

float

In [68]:
x = str(x)

In [69]:
type(x)

str

In [73]:
bool('False')

True

## Non-primitive
<ol>
List of dataypes in non-primitive
<li>list -> [0,1,2,3,4,"Hriday", True]</li>
<li>tuple -> (0,1,2,3,4,"Hriday", True)</li>
<li>dict -> {
    "key": value (int, float, string, list, tuple, boolean)
}</li>
<li>Set: {1,2,3,4} </li>
</ol>

In [75]:
l = [1,2,3, 4, 5, "Hriday", True]

In [83]:
l[6] = False

In [80]:
t = (1,2,3,4,5,"Hriday",True)

In [82]:
t[0]

1

In [84]:
l # list are mutable

[1, 2, 3, 4, 5, 'Hriday', False]

In [85]:
t[6] = False  # tuple are immutable

TypeError: 'tuple' object does not support item assignment

In [86]:
myDict = {
    "firstName":"Hriday",
    "lastName":"Goswami",
    "CountryVisited":['Australia', 'India', 'Europe', 'Canada'],
    "married":False,
    "age":500
}

In [90]:
myDict['CountryVisited'][1]

'India'

In [92]:
myDict['firstName'], myDict['lastName']

('Hriday', 'Goswami')

In [93]:
myDict['age']

500

In [94]:
mySet = {1,2,3,4,5,6,7, -1, -2, -5}

In [95]:
mySet

{-5, -2, -1, 1, 2, 3, 4, 5, 6, 7}

In [96]:
d = {
    "firstName":"Hriday",
    "lastName":"Goswami",
    "CountryVisited":['Australia', 'India', 'Europe', 'Canada'],
    "married":False,
    "age":500,
    "d2":{
        "Occupation":"Trainer",
        "Company":"GRRAS"
    }
}

In [100]:
d['d2']['Company']

'GRRAS'

In [101]:
ld = [
    {
        "firstName":"Hriday",
        "lastName":"Goswami"
    },
    {
        "firstName":"Atmiya",
        "lastName":"Lat"
    }
]

In [106]:
ld[1]['firstName'], ld[1]['lastName']

('Atmiya', 'Lat')

In [107]:
StudentMarks = {
    "Student1":{
        "Subject":['Maths', 'Science'],
        "Marks":[20, 30, 40]
    },
    "Student2":{
         "Subject":['Maths', 'Science', 'Biology'],
        "Marks":[20, 30, 40]
    }
}

In [108]:
x = [50, 60, 70]
d = {
    "x":x
}

In [109]:
d

{'x': [50, 60, 70]}