In [1]:
print("Hello world")

Hello world

In [2]:
a = 20
b = 30
print(a+b)

50

In [3]:
# add
a = 50
b = 70
print(a+b)

120

# How to create a function
<pre>
 def function-name(parameters if any):
     code
</pre>

# How to call a function
function-name()

In [6]:
#static function (without parameter function)
def add():
    a = 20
    b = 30
    print(a+b)

In [7]:
add()

50

In [8]:
# dynamic function (function with parameters)
def add(a, b):
    print(a+b)

In [9]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [10]:
add(2,3)

5

In [11]:
add(4,5)

9

In [12]:
add(10, 11)

21

In [13]:
add('hello', ' world')

hello world

In [14]:
a = 10

In [15]:
a

10

In [16]:
def add(a, b):
    return a+b

In [18]:
output = add(2,3)

In [19]:
output

5

In [20]:
def compare_three_numbers(a, b, c):
    if(a>b):
        if(a>c):
            return f'A {a}'
        else:
            return f'C {c}'
    elif(b>a):
        if(b>c):
            return f'B {b}'
        else:
            return f'C {c}'
    else:
        return f'C {c}'

In [21]:
compare_three_numbers(300, -10, 1000)

'C 1000'

In [22]:
def calculator(a, b, op):
    if(op == '+'):
        return a+b
    elif(op == '-'):
        return a-b
    elif(op == '*'):
        return a*b
    elif(op == '/'):
        return a/b
    else:
        return "Invalid"

In [25]:
a = int(input("Enter the number"))
b = int(input("Enter the second number"))
op = input("Enter the operator")
calculator(a, b, op)

30

In [26]:
calculator(int(input("Enter the number")), int(input("Enter the second number")), input("Enter the operator"))

30

In [38]:
def in_range(inp, start, end):
    if(inp>=start and inp<=end):
        return "In range"
    else:
        return "Not in range"

In [41]:
in_range(11, 1, 10)

'Not in range'

In [37]:
5 <= 1

False

In [36]:
5>=10

False

In [43]:
# % -> modulus
50%2 == 0

True

In [47]:
n = 55
if(n%11 == 0):
    print("Even")
else:
    print("Odd")

Even

In [59]:
is_alpha = '4'
if is_alpha == '!' or is_alpha=='@' or is_alpha=='#' or is_alpha=='$' :
    print("Not an alphabet")
else:
    print("It is an alphabet")

It is an alphabet

In [60]:
(is_alpha>='A' and is_alpha<='Z') or (is_alpha>='a' and is_alpha<='z')

False